<div class="search-container">
  <%= render 'shared/searchbar' %>
</div>

<% if params[:query] %>
  <h1 class="page-title"><%= @recipes.length %> résultat(s) pour <%= params[:query] %></h1>
<% else %>
  <h1 class="page-title">Toutes les recettes</h1>
<% end %>

<%= render 'shared/recipeslist' %>
