<div class="container">
  <h1><%= params[:category] %></h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to "#{recipe.title} - by #{recipe.author}", recipe_path(recipe) %></li>
    <% end %>
  </ul>
</div>
