<h1>My recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %></li>
  <% end %>
</ul>

<%= link_to 'New recipe', new_recipe_path  %>

<div data-controller="hello">
  <h1 data-target="hello.output"></h1>
</div>
