<div class="footer text-center">
  <div class="footer-links">
    <a href="https://github.com/GMalzac" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/gregoire-malzac/?locale=en_US" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-logo">
    <a href="https://www.gregoiremalzac.me/" target="blank"><%= image_tag "logov5.png", height: 50 %></a>
  </div>
  <div class="footer-copyright copyright-size">
    Fait avec beaucoup d'appétit par Greg :)
  </div>
  <div class="footer-copyright copyright-size credit">
    D'après une recette originale du chef Marie-Laure aidée de "Benji le p'tit commis"<br>
  </div>
  <div class="footer-copyright copyright-size credit">
    ©2020
  </div>
</div>
