.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 50px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-title {
  margin-bottom: 50px;
}

.banner-search {
  justify-content: center !important;
  display: flex;
  margin-bottom: 50px;
}

.banner-add {
  justify-content: center !important;
  display: flex;
}

.add-button {
  background-color: #2A9D8F !important;
  background-color: #2AB7CA !important;
  background-color: #5CAB7D !important;
  background-color: #59C9A5 !important;

  color: white !important;
  font-weight: bold !important;
}
