.card {
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 1px lightgray;
}

h3.card-title {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #f67058;
}

h6.card-subtitle {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}
