h1 {
  font-weight: 800
}

.categories-list {
  margin-bottom: 50px;
}

ul.categories-list li {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
  @media (min-width: 576px) {
    text-align: initial;
    justify-content: center;
    display: inline;
  };
}

.categories-list li a {
  border: 2px solid #f67058;
  padding: 10px 15px;
  border-radius: 10px;
  color: #f67058;
  font-weight: 600;
  text-decoration: none;
}

.category a {
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.5s, color 0.5s;
}

.category a:hover {
  background-color: #f67058;
  color: white;
}

#section-one {
  margin-bottom: 50px;
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #40596A;
    margin-bottom: 30px;
  }
}

#section-two {
  margin-bottom: 50px;
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #40596A;
    margin-bottom: 30px;
  }
}

#section-three {
  margin-bottom: 50px;
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #40596A;
    margin-bottom: 30px;
  }
}
