.categories-list {
  margin-bottom: 50px;
}

ul.categories-list li {
  display: inline;
  justify-content: center;
}

.categories-list li a {
  border: 2px solid #f67058;
  padding: 10px 15px;
  border-radius: 10px;
  color: #f67058;
  font-weight: 600;
}

#section-one {
  margin-bottom: 50px;
  h2 {
    margin-bottom: 30px;
  }
}

#section-two {
  margin-bottom: 50px;
  h2 {
    margin-bottom: 30px;
  }
}

#section-three {
  margin-bottom: 50px;
  h2 {
    margin-bottom: 30px;
  }
}

h3.card-title {
  text-decoration: none;
  color: black;
}

