.recipe-show-wrapper {
  margin-top: 40px;
  h2 {
    color: #f67058;
    font-weight: bold;
    font-size: 20px;
  }
  li {
    font-size: 16px;
  }
}

.recipe-title {
  margin-bottom: 50px;
  color: #40596A;
  font-weight: bold;
}

.recipe-header {
  margin-bottom: 30px;
}

.search-container {
  justify-content: center !important;
  display: flex;
  text-align: center !important,
}

.comments {
  margin-top: 20px;
}

.recipe-form {
  h2 {
    color: #f67058;
  }
  .trix-button-row {
    display: none;
  }
}
