.search-component {
  margin-bottom: 50px;
}

.search-field {
  width: 350px !important
}

.search-button {
  background-color: #f67058 !important;
  color: white !important;
  font-weight: bold !important;
  margin-left: 10px;
}
