.search-component {
  margin-bottom: 50px;
}

.search-field {
  width: 350px !important;
  @media(max-width: 721px) {
    width: auto;
    margin-bottom: 20px;
  }
}

.search-button {
  background-color: #f67058 !important;
  color: white !important;
  font-weight: bold !important;
  margin-left: 10px;
}

.hidden-small {
  @media(max-width: 721px) {
    display: none !important
  }
}

.hidden-medium {
  @media(min-width: 721px) {
    display: none !important
  }
}
